body{
    padding: 0;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;

    box-sizing: border-box;
    background-color: rgb(255, 253, 253);    
}
.section{
    display: block;
    margin-top: 40px;
}
.article{
    max-width: 868px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.smartphone{
    width: 454px;
    height: 618px;
    justify-content: space-around;
    padding: 0;
}
.tela{
    display: flex;
    position: relative;
    top: -84%;
    left: 33.8%;
    height: 424px;
    width: 236px;
}
.acesso{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 606px;
}
.login{
    border: 1px solid rgb(187, 185, 185);
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 381px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.logo{  
    width: 175px;
    height: 175px;
    margin: 22px auto 12px;
    display: flex;
    flex-grow: 1;
    position: relative;
    top: -32%;
}
.dados_login{
    width: 350px;
    height: 380px;
}
.fotoperfil{
    display: flex;
    position: relative;
    top: -65%;
}
.profilephoto{
    width: 140px;
    border: black solid 1px;
    border-radius: 50%;
    display: flex;
    margin: auto;
}
.button{
    position: relative;
    display: flex;
    top: -50%;
    justify-content: center;
}
.button > button{
    border-radius: 1%;
    background-color: rgba(21, 117, 228, 0.778);
    border: none;
}
.botao > p{
    color: white;
    font-weight: bolder;
    width: 200px;
    height: 8px;
    text-align: center;
}
.cadastro{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 63px;
    padding: 0;
    border: 1px solid rgb(187, 185, 185);
    background-color: white;
    text-align: center;
    margin-bottom: 0px;
}
.semconta > a{
    color: rgb(30, 30, 247);
    text-decoration: none;
}
.semconta > a:hover{
    text-decoration: underline;
}
.semconta{
    position: relative;
    top:17%;
    text-align: center;
    text-decoration: none;
}
.store{
    width: 350px;
    height: 101px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.obtenha{
    text-align: center;
}
.linksapp{
    display: flex;
    justify-content: space-around;
}
.linkapple{  
    display: flex;
    width: 136px;
    height: 44px;
    position: relative;
    top: -15%;
}
.appstore{
    display: flex;
    flex-grow: 1;
    position: relative;
    left: -4%;
}
.linkgoogle{
    display: flex;
    width: 134px;
    height: 44px;
    justify-content: left;
    position: relative;
    top: -15%;
}
.googleplay{
    display: flex;
    flex-grow: 1;
    position: relative;
    left: -5%;
}
.rodape{
    max-width: 868px;
    margin: 0 auto;
    height:129px;
    display: block;
    position: relative;
    left: 6%;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    max-width: 80%;
}
.lang{
    display: flex;
    list-style: none;
    justify-content: space-around;
    left: 50%;
    max-width: 80%;
}
.links > a, p{
    color: grey;
    text-decoration: none;
}
.links > a:hover{
    text-decoration: underline;
}
